@{
    ViewBag.Title = "Contacto";
}
<br />
<br />
<br />
<br />
<h2>@ViewBag.Title</h2>

<address>
    <strong>
        Dirección
    </strong>
    <br>
    ETSISI Calle Alan Turing s/n (Ctra. de  Valencia, Km. 7)<br />
    28031 - MADRID<br />
    <abbr title="Phone"> </abbr>
    <strong>
        Teléfono
    </strong>
    <br>
    <p>     ETSISI Secretaría: 91 067 35 24.</p>
    <p>     ETSISI Conserjería: 91 067 35 34.</p>
</address>

<address>
    <strong>Apoyo:</strong>   <a href="mailto:Support@example.com">administrador@upm.es</a><br />
</address>