@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        <img src="~/images/LogoEtsisi.png" width="313" height="133" />
        <img src="~/images/upm.png" align="right"  width="279" height="125" />
    </p>
    <h1>Evolución y mantenimiento software</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestión de Profesores</h2>
        <p>
            <img src="~/images/profesores1.png" width="300" height="300" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gestión de Alumnos</h2>
        <p>
            <img src="~/images/alumnos.jpg" width="300" height="300" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gestión Evaluaciones</h2>
        <p>
            <img src="~/images/eva1.jpg" width="300" height="300" />
        </p>
    </div>
</div>